<div class="card">
    <%= link_to recipe_path(recipe) do %>
    <header class="card-header">
        <p class="card-header-title">
            <%= recipe.name %>
        </p>
        <p class="card-header-icon">
            <%= fa_icon "angle-right" %>
        </p>
    </header>
    <% end %>
    <div class="card-content">
        <div class="content">
            <a href="#">#fancy</a> <a href="#">#quick</a>
            <%= raw(recipe.ingredients) %>
        </div>
    </div>
    <footer class="card-footer">
        <%# minutes_with_clock, class="card-footer-item" %>
        <p class="card-footer-item"> <%= minutes_with_clock(recipe.time_estimate) %></p>
        <%= link_to 'Edit', edit_recipe_path(recipe), class: 'card-footer-item' %>
        <%= link_to recipe, method: :delete, data: {confirm: "Delete recipe: #{recipe.name}?"}, class: 'card-footer-item has-text-danger' do %>
        <%= fa_icon 'trash' %>
        <% end %>
    </footer>
</div>