<h1 class="title is-1 has-text-centered">New Recipe</h1>

<%= simple_form_for @recipe do |f|%>

<div class="field">
    <div class="label">
        Category
    </div>
    <div class="select">
        <div class="control">
            <%= f.association :category, wrapper: false, label:false, date_separator: '</div><div class="select">', include_blank: false %>
        </div>
    </div>
</div>

<div class="field">
    <%= f.input :name, input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' } %>
</div>

<div class="field">
    <%= f.input :time_estimate, as: :integer, wrapper: false, input_html: { class: 'input' }, label_html: { class: 'label' }, label: "Estimated Time (minutes)" %>
</div>

<div class="field">
    <%= f.input :ingredients, as: :ckeditor, wrapper: false, label_html: { class: 'label' } %>
</div>

<div class="field">
    <%= f.input :instructions, as: :ckeditor, wrapper: false, label_html: { class: 'label' } %>
</div>


<div class="field is-grouped-right">
    <%= f.button :submit, class: "button is-primary" %>
</div>

<% end %>

<%= javascript_include_tag Ckeditor.cdn_url %>