<div class="level">
    <div class="level-left">
        <div class="level-item">
            <%= link_to @category do %>
            <h1 class="title is-3 has-text-weight-light"><u><%= @category.name %></u></h1>
            <% end %>
            <h1 class="title is-3 has-text-weight-bold">/<%= @recipe.name %></h1>
        </div>
    </div>
    <div class="level-right">
        <div class="level-item">
            <%= minutes_with_clock(@recipe.time_estimate) %>
        </div>
        <div class="dropdown is-hoverable level-item is-right">
            <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                    <span> <%= fa_icon 'cog' %> </span>
                </button>
            </div>
            <div class="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    <div class="dropdown-item">
                        <%= link_to 'Edit', edit_recipe_path(@recipe), class: 'card-footer-item' %>
                    </div>
                    <div class="dropdown-item">
                        <%= link_to "Delete Recipe", @recipe, method: :delete, data: {confirm: "Delete recipe: #{@recipe.name}?"}, class: 'card-footer-item has-text-danger' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="columns">
    <div class="column content">
        <h3>Ingredients</h3>
        <div class="content box scrollable-content">
            <%= raw(@recipe.ingredients) %>
        </div>
    </div>
    <div class="column content">
        <h3>Instructions</h3>
        <div class="content box scrollable-content">
            <%= raw(@recipe.instructions) %>
        </div>
    </div>
</div>