<!DOCTYPE html>
<html>

<head>
  <title>Pantry Book</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <%= link_to 'PantryBook', root_path, class: 'navbar-item' %>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <%= link_to 'New Recipe', new_recipe_path, class: "button is-primary" %>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <% flash.each do |name, msg| %>
  <div class="notification is-<%= name %>"><button class="delete"></button><%= msg %></div>
  <% end %>
  <div class="container section">
    <%= yield %>
  </div>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>PantryBook</strong> by <a href="https://mroudnitski.com">Michael Roudnitski</a>
      </p>
    </div>
  </footer>
</body>


<script>
  document.addEventListener('DOMContentLoaded', () => {
    (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
      $notification = $delete.parentNode;

      $delete.addEventListener('click', () => {
        $notification.parentNode.removeChild($notification);
      });
    });
  });
</script>

</html>